* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

aside > *:not(.chats), aside > .chats > .content, 
section.singleChat > .userName, section.singleChat > .sendMsg {
  padding: 8px;
}

aside > nav, section.singleChat > .userName, 
.sendMsg {
  background-color: #ededed;
  align-items: center;
}

.rounded {
  height: 30px;
  border: none;
  border-radius: 15px;
}

i {
  color: #7f7f7f;
}

.top-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #009788;
  z-index: -1;
}

/*MAIN*/
main {
  width: 85%;
  height: 90vh;
  margin: 5vh auto;
}

main img {
  display: block;
  width: 60px;
  border-radius: 50%;
}

/*MAIN-ASIDE*/
main > aside {
  width: 350px;
  overflow: auto;
}

/*ASIDE-NAV*/
aside > nav > img, section.singleChat img {
  width: 50px;
}

.empty {
  flex-grow: 1;
}

/*ASIDE-NOTIFICATIONS*/
aside > .notifications {
  background-color: #9ee1fe;
  align-items: center;
  color: #939497;
}

aside > .notifications > .bell {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  line-height: 50px;
}

.bell > i {
  color: #9ee1fe;
}

/*ASIDE-SEARCH*/
aside > .search {
  background-color: #ededed;
  position: relative;
}

.search > i.fa-search {
  position: absolute;
  top: 15px;
  left: 10px;
}

aside > .search > input {
  width: 100%;
  padding: 0 30px;
}

.search > i.fa-times {
  position: absolute;
  top: 15px;
  right: 15px;
}

/*ASIDE-CHATS*/
aside > .chats {
  flex-grow: 1;
  overflow: auto;
}

aside > .chats > .content {
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.content.current {
  background-color: lightgrey;
}

/*MAIN-SINGLE_CHAT*/
main > section.singleChat {
  flex-grow: 1;
}

/*USER_NAME*/
section.singleChat > .userName {
  border-left: 1px solid lightgrey;
}

/*MESSAGES*/
section.singleChat > .messages {
  flex-grow: 1;
  background: url('img/mine.jpg');
  padding: 30px;
  overflow: auto;
}

.messages > .msg {
  margin: 10px 0;
}

.msg > .msg-text {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
}

.sent {
  background-color: lightgreen;
  align-self: flex-end;
}

.received {
  background-color: white;
  align-self: flex-start;
}

/*SEND_MSG*/
.sendMsg > input {
  flex-grow: 1;
  margin: 0 20px;
  padding: 0 10px;
}

/*UTILITIES*/
/*.border {
  border: 1px solid lightgrey;
}*/

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.ml-10 {
  margin-left: 10px;
}

.m-10 {
  margin: 10px;
}

.text-center {
  text-align: center;
}

.fsz-15 {
  font-size: 15px;
}